.tabela {
    width: 800px;
    margin: 0% auto;
}

#table {
    border-collapse: collapse;
}

table, td, th {
    width: 100%;
    border: 1px solid black;
    padding: 3px;
}

th {
    background-color: var(--verde-escuro);
    color: var(--branco);
    text-align: start;
    padding: 10px;
}

.colSpan {
    text-align: center;
}

.delete, .editar {
    display: block;
    margin: auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: var(--branco);
}

.editar {
    background-color: var(--edit);
}

.delete {
    background-color: var(--delete);
}